<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  </head>
  <body>
    <h1>Chernobyl Animal Shelter</h1>
    <p>Welcome to the (r)evolution!</p>
  </body>
</html>
