body {
  background-image: url(https://lh6.googleusercontent.com/-t1fe5kTHxrc/Tpts2cs1bbI/AAAAAAAAz_U/kSHWbBBWNZ0/s800/Chernobyl%2525205.jpg);
  background-size: cover;
  background-position: top right;
  background-position-x: 100%
  background-position-y: 0%;
  background-repeat: no-repeat;
}
