<div class="row">
<div class="card col s8 offset-s2" ng-repeat="client in clients">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" ng-src="{{client.clientUrl}}">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">
       {{client.name}}
       <i class=" icon fa fa-arrow-circle-up"></i>
     </span>

   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">
       {{client.name}}
       <i class="icon icon-close fa fa-arrow-circle-down"></i>
     </span>
     <p> Pets:</p>
     <p ng-repeat="pet in client.pets"> {{pet.name}}, an interesting {{pet.breed}} </p>
      <i ng-click='deleteClient(client)' class="icon-td close fa fa-times-circle">Delete Client!</i>
      <br>
      <button class="btn" ng-click="shopAs(client._id)">
        Shop as {{client.name}}
      </button>
   </div>
 </div>
</div>
