<div>
<button class="btn" ng-click="showAvailNow()">Show Available</button>
<button class="btn" ng-click="showAdoptedNow()">Show Adopted</button>
<button class="btn" ng-click="showAllNow()">Show All</button>
</div>

<!-- ******************* ALL ********************** -->
<div class="row" ng-show="showAll">
<div class="card col s8 offset-s2" ng-repeat="pet in pets">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" ng-src="{{pet.petUrl}}">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">
       {{pet.name}}
       <i class=" icon fa fa-arrow-circle-up"></i>
     </span>
     <p>{{pet.breed}}</p>
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">
       {{pet.name}}
       <i class="icon icon-close fa fa-arrow-circle-down"></i>
     </span>
     <p ng-repeat="client in pet.clients"> Interested People {{clients.name}}</p>
     <p ng-repeat="owner in pet.owner"> Owner: {{owner.name}} </p>
     <i ng-click='deletePet(pet)' class="icon-td fa fa-times-circle">Delete Pet!</i>
   </div>
 </div>
</div>

<!-- ******************* Adopted ********************** -->
<div class="row" ng-show="showAdopted">
<div class="card col s8 offset-s2" ng-repeat="pet in petsAdopted">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" ng-src="{{pet.petUrl}}">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">
       {{pet.name}}
       <i class=" icon fa fa-arrow-circle-up"></i>
     </span>
     <p>{{pet.breed}}</p>
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">
       {{pet.name}}
       <i class="icon icon-close fa fa-arrow-circle-down"></i>
     </span>
     <p ng-repeat="client in pet.clients"> Interested People {{clients.name}}</p>
     <p ng-repeat="owner in pet.owner"> Owner: {{owner.name}} </p>
   </div>
 </div>
</div>

<!-- ******************* Available ********************** -->
<div class="row" ng-show="showAvail">
<div class="card col s8 offset-s2" ng-repeat="pet in petsAvail">
   <div class="card-image waves-effect waves-block waves-light">
     <img class="activator" ng-src="{{pet.petUrl}}">
   </div>
   <div class="card-content">
     <span class="card-title activator grey-text text-darken-4">
       {{pet.name}}
       <i class=" icon fa fa-arrow-circle-up"></i>
     </span>
     <p>{{pet.breed}}</p>
   </div>
   <div class="card-reveal">
     <span class="card-title grey-text text-darken-4">
       {{pet.name}}
       <i class="icon icon-close fa fa-arrow-circle-down"></i>
     </span>
     <p> Interested People: </p>
     <p ng-repeat="client in pet.clients">{{client.name}}</p>
     <i ng-click='likePet(pet._id)' class=" fa fa-thumbs-o-up">Like!</i>
     <br>
     <i ng-click='buyPet(pet._id)' class="fa fa-money">Buy Pet!</i>

   </div>
 </div>
</div>
